

<div class="row mt-4">
  <div class="col offset-md-4">
    <span>
      <h2>Chefs | <span><a href="dishes">Dishes</a></h2>
  </div>
  <div class="col align-self-center text-center">
    <a href="new">Add a Chef</a>
  </div>
</div>
<div class="row">
  <div class="col mt-5 mb-2">
    <h3>Check out our roster of Chefs!</h3>
  </div>
</div>
<div class="row">
  <div class="col-10">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col"># of Dishes</th>
        </tr>
      </thead>
      <tbody>
        @for(int i = Model.Count-1; i >= 0; i--)
        {
          <tr>
              <td>@Model[i].FirstName @Model[i].LastName</td>
              <td>@Model[i].Age</td>
              <td>@Model[i].CreatedDishes.Count</td>
            </tr>
        }
      </tbody>
    </table>
  </div>
</div>